{% extends 'base.html' %}

{% block title %}Team Stats{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mb-4 text-center">Team Stats Overview</h2>

    <div class="row mb-4">
        <div class="col">
            <h4>Total Stats</h4>
            <ul class="list-group">
                <li class="list-group-item">Games Played: {{ totals.games }}</li>
                <li class="list-group-item">Points: {{ totals.points }}</li>
                <li class="list-group-item">Assists: {{ totals.assists }}</li>
                <li class="list-group-item">Rebounds: {{ totals.rebounds }}</li>
                <li class="list-group-item">Steals: {{ totals.steals }}</li>
                <li class="list-group-item">Blocks: {{ totals.blocks }}</li>
                <li class="list-group-item">Turnovers: {{ totals.turnovers }}</li>
            </ul>
        </div>
        <div class="col">
            <h4>Per Game Averages</h4>
            <ul class="list-group">
                <li class="list-group-item">Points/Game: {{ averages.points }}</li>
                <li class="list-group-item">Assists/Game: {{ averages.assists }}</li>
                <li class="list-group-item">Rebounds/Game: {{ averages.rebounds }}</li>
                <li class="list-group-item">Steals/Game: {{ averages.steals }}</li>
                <li class="list-group-item">Blocks/Game: {{ averages.blocks }}</li>
                <li class="list-group-item">Turnovers/Game: {{ averages.turnovers }}</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
